.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f9f9f9; /* Light background for the feed */
    border-radius: 10px;
    width: 1200px;

    max-width: 800px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Merriweather', serif;
  }
  
  .avatar-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  