
/* General reset for the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Additional Styles (Existing) */
#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  
  line-height: 1.5;
  width: 100%;


  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}




